<nav class="navigation">
    <h1>A L B .</h1>
    <ul>
        <li><a href="/" class="home">HOME</a></li>
        <li><a href="./cart" class="cart">CART<span class="numCart">(<%=numCart%>)</a></li>
    </ul>

</nav>