<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/cartStyle.css">
    <title>Cart</title>
   

</head>

<body>

    <!-- put into a partial -->
 
    <nav class="navigation">
        <h1>A L B .</h1>
        <ul>
            <li><a href="/" class="home">HOME</a></li>
            <li><a href="./cart" class="cart">CART</a></li>
        </ul>

    </nav>

<main>

    <div class="cart-container">

        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: <span>39.99</span></h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
        <div class="cart-product">
            <img src="../images/products/product1 (3).png">
            <div class="product-details">
                <h1>M500s Corded Mouse</h1>
                <h2 class ="price">CAD: 39.99</h1>
                <span>-</span><input type="text" name="amount"><span>+</span>
                <a href="#" class="remove">Remove</a>
            </div>


        </div>
    
    </div>


    

    <div class="checkout">
       

        <form class="paymentform" name="payment">

            <div class="inputField ">
                <label>First Name</label>
                <input type="text" name="first">
            </div>
            <div class="inputField">
                <label>Last Name</label>
                <input type="text" name="last">
            </div>
            <div class="inputField">
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div class="inputField">
                <label>Credit Card</label>
                <input type="text" name="creditcard">
            </div>

            <input type="submit" value="Pay Now">

        </form>

        <div class="totalCost">
            <h1>Subtotal: $23.99</h1>
            <h1>Taxes: $3.14</h1>
            <h1>Total: $44.22</h1>        
        </div>
    </div>



</main>


<script type="module" src="/javascript/features.js"></script>
</body>


</html>






















