<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Shopping</title>
   

</head>

<body>

    <nav class="navigation">
        <h1>A L B .</h1>
        <ul>
            <li><a href="/" class="home">HOME</a></li>
            <li><a href="./cart" class="cart">CART<span class="numCart">(<%=numCart%>)</span></a></li>
        </ul>

    </nav>



    
<main>

    <div class="mouseBack">
        <div class="g903">G903</div>
        <img src="https://resource.logitechg.com/w_1000,c_limit,q_auto:best,f_auto,dpr_auto/content/dam/gaming/en/products/g903-hero/g903-hero-desktop.png?v=1">
    </div>

<div class="product-grid">
    
    
    <div class="product">
        <img src="./images/products/product 1 (1).png">
        <div class="prod-details">
            <h1 class ="prod-name">M500s Corded Mouse</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">49.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (2).png">
        <div class="prod-details">
            <h1 class ="prod-name">Death Adder 1234</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">25.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (3).png">
        <div class="prod-details">
            <h1 class ="prod-name">Logitech G120</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">33.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (4).png">
        <div class="prod-details">
            <h1 class ="prod-name">Fastest Mouse</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">21.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (5).webp">
        <div class="prod-details">
            <h1 class ="prod-name">G502</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">29.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (6).webp">
        <div class="prod-details">
            <h1 class ="prod-name">Super Mouse 9000</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">129.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (7).webp">
        <div class="prod-details">
            <h1 class ="prod-name">LGQ20 Pro</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">219.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (8).webp">
        <div class="prod-details">
            <h1 class ="prod-name">G9000</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">49.99</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product 1 (9).webp">
        <div class="prod-details">
            <h1 class ="prod-name">G203</h1>
            <p class = "prod-desc">Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p >CA: $<span class = "price">22.98</span></p>
        </div>

        <a class="addCart">Add to Cart..</a>

    </div>
   



</div>

<div class="addedCart">

    <div class="modal-content">
        <h1>Your item has been added to the cart!!</h1>
        <span>X</span>
    </div>
    
</div>

</main> 

<script type="module" src="/javascript/homeFeatures.js"></script>
</body>


</html>






















