<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Shopping</title>
   

</head>

<body>

    <nav class="navigation">
        <h1>A L B .</h1>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CART</a></li>
        </ul>

    </nav>

<main>



<div class="product-grid">
    
    <div class="product">
        <img src="./images/products/product1 (1).png">
        <div class="prod-details">
            <h1>M500s Corded Mouse</h1>
            <p>Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p class = "price">CA: $29.99</p>
        </div>

        <a href="#" class="addCart">Add to Cart..</a>

    </div>

    <div class="product">
        <img src='./images/products/product1 (3).png'>
        <div class="prod-details">
            <h1>Marathon Mouse M705</h1>
            <p>Power on—a wireless mouse that runs for up to three years on one set of batteries.</p>
            <p class = "price">CA: $59.99</p>
        </div>
        

       
        <a href="#" class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product1 (4).png">
        <div class="prod-details">
            <h1>M500s Corded Mouse</h1>
            <p>Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p class = "price">CA: $29.99</p>
        </div>

        <a href="#" class="addCart">Add to Cart..</a>

    </div>

    <div class="product">
        <img src='./images/products/product1 (5).png'>
        <div class="prod-details">
            <h1>Marathon Mouse M705</h1>
            <p>Power on—a wireless mouse that runs for up to three years on one set of batteries.</p>
            <p class = "price">CA: $59.99</p>
        </div>
        

       
        <a href="#" class="addCart">Add to Cart..</a>

    </div>
    <div class="product">
        <img src="./images/products/product1 (6).png">
        <div class="prod-details">
            <h1>M500s Corded Mouse</h1>
            <p>Full-Size mouse with a contoured design, hyper-fast wheel and 7 customizable buttons </p>
            <p class = "price">CA: $29.99</p>
        </div>

        <a href="#" class="addCart">Add to Cart..</a>

    </div>

    <div class="product">
        <img src='./images/products/product1 (7).png'>
        <div class="prod-details">
            <h1>Marathon Mouse M705</h1>
            <p>Power on—a wireless mouse that runs for up to three years on one set of batteries.</p>
            <p class = "price">CA: $59.99</p>
        </div>
        

       
        <a href="#" class="addCart">Add to Cart..</a>

    </div>

    







</div>


<script type="module" src="/javascript/features.js"></script>
</body>


</html>






















