@mixin display($displaySize){
    @media (min-width: #{$displaySize}){
        @content;
    }

}
$display: "500px";
body{

    margin:0;
    padding:0;
    min-width:480px;
    font-family: 'Maven Pro', sans-serif;
    
}

ul,li,a{
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.navigation{
    display:flex;
    align-items: center;
    padding:0 1em;
    background-color: rgba(95, 158, 160, 0.445);
    transition: all ease-in 150ms;
    position:sticky;
    top:0px;
    z-index: 1000;
    ul{
        display:flex;
        margin-left: auto;
       
    }

    a{
        padding:1em;
        display: inline-block;
        letter-spacing: .2em;
        
        &:hover{
            color: white;
            background-color:rgba(95, 158, 160, 0.445);


        }
    }
}
