body {
  margin: 0;
  padding: 0;
  min-width: 480px;
  font-family: 'Maven Pro', sans-serif;
}

ul, li, a {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  background-color: rgba(95, 158, 160, 0.445);
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navigation a {
  padding: 1em;
  display: inline-block;
  letter-spacing: .2em;
}

.navigation a:hover {
  color: white;
  background-color: rgba(95, 158, 160, 0.445);
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 950px) {
  main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.cart-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2em;
  width: 90%;
  margin: 2em auto;
  max-width: 800px;
}

.cart-container .cart-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 200px) 1fr;
      grid-template-columns: minmax(100px, 200px) 1fr;
  -webkit-box-shadow: rgba(128, 128, 128, 0.493) 5px 5px;
          box-shadow: rgba(128, 128, 128, 0.493) 5px 5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.cart-container .cart-product img {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.096);
}

.cart-container .product-details {
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  margin-left: 2em;
}

.cart-container .product-details h1 {
  font-size: 1.5em;
}

.cart-container .product-details .price {
  font-size: 1em;
  font-weight: lighter;
}

.cart-container .product-details input {
  width: 20%;
  text-align: center;
  font-size: larger;
}

.cart-container .product-details span {
  font-size: larger;
  cursor: pointer;
  padding: .2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-container .product-details .remove {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em 1em 1em .4em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-container .product-details .remove:hover {
  color: red;
}

.updateCart {
  position: absolute;
  top: 0;
  right: -2em;
  padding: .2em;
  margin: 0 2em 0 auto;
  width: 15%;
  min-width: 100px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
}

@media (min-width: 950px) {
  .updateCart {
    top: unset;
    right: unset;
    left: 1.20em;
    bottom: 8em;
  }
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 90%;
  margin: 0 auto 3em auto;
  position: relative;
}

@media (min-width: 950px) {
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em;
    position: relative;
    height: 500px;
  }
}

.totalCost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 2em auto;
  max-width: 800px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.totalCost h1 {
  font-size: 1.1em;
}

@media (min-width: 950px) {
  .totalCost {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

label {
  display: block;
}

.paymentform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 200px;
          flex: 3 1 200px;
}

@media (min-width: 950px) {
  .paymentform {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.paymentform input {
  width: 100%;
}

.paymentform .inputField {
  padding: .5em;
  margin: .3em;
}

.paymentform input[type=submit] {
  width: 30%;
  padding: 1em;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 1em;
}

@media (min-width: 950px) {
  .paymentform input[type=submit] {
    bottom: unset;
    right: unset;
    left: 1.20em;
    top: 310px;
  }
}

.emptyCart {
  font-weight: bold;
  text-align: center;
}
/*# sourceMappingURL=cartStyle.css.map */